$transition: all 300ms ease;

body {
	@include Manrope();
	background-color: #fff;
	a {
		color: #14420D;
		transition: $transition;
		@include Roboto();
		&:hover {
			transition: $transition;
			text-decoration: underline;
		}
	}
	&.none {
		overflow: hidden;
	}
	&.none-filter {
		overflow: hidden;
	}
}

.wrapper {
	max-width: 1290px;
	margin: 0 auto;
}
